body {
    margin: 25px auto;
    width: 100%;
}

main {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fefefe;
    color: #0e0e0e;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    margin-bottom: 25px;
}

#help {
    background-color: rgb(231, 231, 231);
    position: absolute;
    margin: auto;
    top: 5%;
    /* left: 10%; */
    width: 90%;
    max-width: 400px;
    padding: 25px;
    /* Adding the z-index so that the help
        screen appears OVER the help icon */
    z-index: 1;
}

.alert {
    font-size: 16px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.796);
}

.big {
    font-size: 5em;
}

.help_icon {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 10%;
    right: 10%;
}

.help_icon, img {
    opacity: 0.6;
}

/* Hide the help icon in tiny screens */
@media screen and (max-width: 320px) {
    main {
        font-size: 18px;
    }
    .help_icon {
        display: none;
    }
}